@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("/images/lighthouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

modal {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --toastify-color-success: #59cd90;
  --toastify-color-error: #be4f42;
}
